@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0.001 106.423);
--color-gray-100: oklch(0.97 0.001 106.424);
--color-gray-200: oklch(0.923 0.003 48.717);
--color-gray-300: oklch(0.869 0.005 56.366);
--color-gray-400: oklch(0.709 0.01 56.259);
--color-gray-500: oklch(0.553 0.013 58.071);
--color-gray-600: oklch(0.444 0.011 73.639);
--color-gray-700: oklch(0.374 0.01 67.558);
--color-gray-800: oklch(0.268 0.007 34.298);
--color-gray-900: oklch(0.216 0.006 56.043);
--color-gray-950: oklch(0.147 0.004 49.25);
--color-primary-50: oklch(0.985 0 0);
--color-primary-100: oklch(0.97 0 0);
--color-primary-200: oklch(0.922 0 0);
--color-primary-300: oklch(0.87 0 0);
--color-primary-400: oklch(0.708 0 0);
--color-primary-500: oklch(0.556 0 0);
--color-primary-600: oklch(0.439 0 0);
--color-primary-700: oklch(0.371 0 0);
--color-primary-800: oklch(0.269 0 0);
--color-primary-900: oklch(0.205 0 0);
--color-primary-950: oklch(0.145 0 0);
--color-secondary-50: oklch(0.985 0 0);
--color-secondary-100: oklch(0.967 0.001 286.375);
--color-secondary-200: oklch(0.92 0.004 286.32);
--color-secondary-300: oklch(0.871 0.006 286.286);
--color-secondary-400: oklch(0.705 0.015 286.067);
--color-secondary-500: oklch(0.552 0.016 285.938);
--color-secondary-600: oklch(0.442 0.017 285.786);
--color-secondary-700: oklch(0.37 0.013 285.805);
--color-secondary-800: oklch(0.274 0.006 286.033);
--color-secondary-900: oklch(0.21 0.006 285.885);
--color-secondary-950: oklch(0.141 0.005 285.823);

/* Typography */
--font-family: "Funnel Sans";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}